layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane {
        command "bun"
        args "run" "dev"    
        name "Dev"
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
