* {
    border-radius: 5;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: white;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces, #tray, #pulseaudio, #title, #clock, #window {
	padding: 0 15px;
	background-color: #3B4252;
	margin: 5px 0px 5px 0px
}

#tray {
	margin: 5px 0px 5px 8px;
}

#pulseaudio {
	margin: 5px 8px 5px 0px;
}

#workspaces {
	margin: 5px 8px 5px 8px
}

#window {
	background-color: #88C0D0;
	color: black;
}
