* {
    border-radius: 5;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: white;
}

#workspaces button {
    background-color: #3B4252;
    padding: 0 5px;
}

#workspaces button:hover {
    background-color: #4C566A;
}

#workspaces button.active {
    background-color: #5E81AC;
}

#workspaces, #tray, #pulseaudio, #title, #clock, #window {
	padding: 0 8px;
	background-color: #3B4252;
	margin: 5px 0px 5px 0px
}

#tray {
	margin: 5px 8px 5px 0px;
}

#pulseaudio {
	margin: 5px 8px 5px 8px;
}

#workspaces {
	margin: 5px 8px 5px 8px
}

#window {
	background-color: #88C0D0;
	color: black;
}
