@import url("../../.cache/wal/colors-waybar.css");

* {
    border-radius: 5px;
    color: @foreground;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @foreground;
}

#workspaces button {
    background-color: @background;
    padding: 0 5px;
}

#workspaces button.active {
    background-color: @color3;
    transition: background-color 1s;
}

#workspaces, #tray, #pulseaudio, #title, #clock, #window, #battery {
	padding: 0 8px;
	background-color: @background;
	margin: 5px 0px 5px 0px
}

#tray {
	margin: 5px 8px 5px 0px;
}

#pulseaudio {
	margin: 5px 8px 5px 8px;
}

#workspaces {
	margin: 5px 8px 5px 8px
}

#window {
	background-color: @color3;
	color: black;
}
